<style>

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
#notebook_panel { /* main background */
    background: #888;
    color: #f6f6f6;
}
#notebook li { /* More space between bullet points */
margin-top:0.8em;
}
div.text_cell_render{
    font-family: 'Arvo' sans-serif;
    line-height: 110%;
    font-size: 135%;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

</style>


<center>

<p class="gap05"<p>
<h1>Using SQL with Python</h1>

<p class="gap05"<p>
<h3>Darrell Aucoin</h3>

<h3>Stats Club</h3>

<p class="gap2"<p>

</center>

<style type="text/css">
.input_prompt, .output_prompt {
    display:none !important;
}
</style>

![alt text](Images/python-logo-inkscape.svg)

# SQL Modules
Specific modules are needed to connect to each SQL implementation (SQLite, MySQL, PostgreSQL, etc.)

Install Module for SQLite
```bash
$ pip install sqlite3
```

Install Module for MySQL
```bash
$ pip install mysql-connector-python
```

## Using SQL Modules
Most SQL python modules have same/similar looking methods and functions for the various implementatons:

### Load the Module

In [13]:
import sqlite3 as lite

### Create a Connection to the Database

In [14]:
con = lite.connect('stats_club.db')

A server based database like MySQL would be something like:
```python
con = mysql.connect(user='stats', password="", host="localhost", database='data')
```

### Create a Cursor
A cursor object is the main point of interaction with the database.

In [16]:
cur = con.cursor()

From the cursor we can execute SQL code:

In [17]:
cur.execute("SELECT * FROM example")

And then we can retrieve the results:

In [18]:
cur.fetchall()

[(1, 23.23, 'this'),
 (3232, -21.23, 'is'),
 (11, -2.0, 'a'),
 (-23, 54.0, 'string'),
 (2, None, 'concatenated')]

Or we can retieve just one result:

In [12]:
cur.execute("SELECT * FROM example")
cur.fetchone()

(1, 23.23, 'this')

# Using SQL with Pandas
Using data in lists and tuples can be inconvenient. A Dataframe would be better.

The dataframe module `pandas` has a few functions for interacting with SQL:
```python
pd.read_sql_query
pd.read_sql
pd.read_sql_table
```

In [29]:
import pandas as pd
pd.read_sql("SELECT * FROM example", con)

   number  floating        string
0       1     23.23          this
1    3232    -21.23            is
2      11     -2.00             a
3     -23     54.00        string
4       2       NaN  concatenated

`pd.read_sql` and `pd.read_sql_table` can read sql tables directly if the `sqlalchemy` module is used but I'll leave that for another tutorial.

In [31]:
pd.read_sql_query("SELECT * FROM example", con)

   number  floating        string
0       1     23.23          this
1    3232    -21.23            is
2      11     -2.00             a
3     -23     54.00        string
4       2       NaN  concatenated

# Closing the Connection
When you are finished using SQL to get your data, remmember to disconnect from the SQL server.

This frees resources from the server. RESPECT YOUR DATA ADMIN.

In [32]:
con.close()

# Using MySQL with Python
Each module for SQL are very similar, with the main differences on how to connect and a few options in some of the objects.

In [33]:
import mysql.connector as mysql
con = mysql.connect(user='stats', password="", host="localhost", database='data')


```python
mysql.cursor(buffered=None, raw=None, prepared=None, cursor_class=None, 
dictionary=None, named_tuple=None)
```

In [34]:
cur = con.cursor()
cur.execute("Select * from Persons")
cur.fetchall()

[(12, 'Aucoin', 'Darrell', '11207 73 Ave', 'Edmonton'),
 (9, 'Hunter', 'Billy', '34251 73 Ave', 'Edmonton'),
 (34, 'Williams', 'Robert', '2323 King Street', 'Waterloo')]

In [35]:
import pandas as pd
pd.read_sql_query("SELECT * FROM Persons",con)

   PersonID  LastName FirstName           Address      City
0        12    Aucoin   Darrell      11207 73 Ave  Edmonton
1         9    Hunter     Billy      34251 73 Ave  Edmonton
2        34  Williams    Robert  2323 King Street  Waterloo

In [36]:
con.close()

In [ ]:
#sudo ipython nbconvert Using_SQL_with_Python.ipynb --to slides --post serve